#root {
    margin: 10px;
}

.main-window {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.character-data {
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: left;
}